<div class="row clearfix">
    <%if task.completed? %>
        <div class="complete" >
            <%= link_to complete_project_task_path(@project, task.id), method: :patch do %>
                <em style="opacity:0.4;" class="fa fa-check"> </em>
            <%end%>
        </div>
        <div class="todo_item">
            <p style = "opacity: 0.4;" ><s> <%= task.content%> </s></p>
        </div>
        <div class="trash">
            <%= link_to project_task_path(@project, task.id), method: :delete, data: {confirmation: "Are you sur"} do %>
            <em class="fa fa-trash"></em>
            <%end%>
        </div>

    <%else%>
        <div class="complete" >
            <%= link_to complete_project_task_path(@project, task.id), method: :patch do %>
                <em class="fa fa-check"> </em>
            <%end%>       
        </div>
        <div class="todo_item">
            <p> <%= task.content%> </p>
        </div>
        <div class="trash">
            <%= link_to project_task_path(@project, task.id), method: :delete, data: {confirmation: "Are you sur"} do %>
            <em class="fa fa-trash"></em>
            <%end%>
        </div>
    <%end%>
